<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>EZTABLE</string>
		<key>Location</key>
		<string>25.022214,121.54802</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>HOME</string>
		<key>Location</key>
		<string>25.1130429,121.5292886</string>
	</dict>
</array>
</plist>
